/* HEADER */
.header {
  color: white;
  background-color: #333;
  text-align: center;
  font-size: xx-large;
  font-family: monospace;
  padding: 14px 16px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

hr.solid {
  border-top: 3px solid black;
  border-radius: 5px;
}

body {
  /*max-width: 1024px;
  max-height: 768px; causing issues to position: sticky*/
  top: 50%;
  left: 50%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(194, 194, 194);
}


/* NAVI BAR CSS */
[class^="far fa-check-square"], [class*="far fa-check-square"] {
  display: inline-block;
  width: 100%;
}

.menu-4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}
.menu-4 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #333;
}
.menu-4 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
  background-color: #333;
}
.menu-4 a {
  padding: 0.3em 0;
  color: white;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  background-color: #333;
  font-family: monospace;
  font-size: x-large;
}
.menu-4 a:before,
.menu-4 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.menu-4 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.menu-4 li:hover a,
.menu-4 .current a {
  transform: translateY(100%);
}

.navi {
  overflow: hidden;
  background-color: #333;
  font-family: monospace;
  font-size: x-large;
  position: sticky;
  top: 0;
}
.navi a {
  color: white;
  text-align: center;
  display: block;
  padding: 14px 16px;
  float: left;
  text-decoration: none;
  font-size: x-large;
}
.navi a:hover {
  background-color: black;
}

div.line {
  border-top: 3px solid grey;
}

div.line2 {
  border-top: 3px dashed grey;
}
/* MAIN */

.title {
  color: black;
  text-align: left;
  display: block;
  padding: 10px;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  font-size: x-large;
  text-align: center;
}

h2 {
  color: black;
  text-align: left;
  display: block;
  padding: 10px;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  margin-left: 500px;
}

h3 {
  color: black;
  text-align: left;
  font-family: Arial;
  font-weight: bold;
  padding: 10px;
  margin-left: 500px;
}

h4 {
  color: black;
  text-align: left;
  font-family: Arial;
  font-style: italic;
  padding: 10px
}

p {
  text-align: left;
  margin-left: auto;
  font-family: Arial;
}

.italics {
  text-align: left;
  margin-left: 14px;
  font-family: Arial;
  font-style: italic;
}

.center {
  text-align: center;
  font-family: Arial;
}

.left {
  text-align: left;
  font-family: Arial;
  margin-left: 10px;
}

.border {
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.border2 {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

li {
  font-family: Arial;
}

pre {
  font-family: Arial;
  text-align: center;
}

span {
  text-align: center;
  font-family: Arial;
  margin-left: 14px;
}

.spantext {
  font-family: Arial;
  text-align: center;
  margin-left: 14px;
  font-style: italic;
}

/* IMAGE SETTINGS */
.image {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

.image2 {
  width: auto;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  padding: 10px 10px;
}

.image3 {
  width: auto;
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  padding: 10px 10px;
}

.image4 {
  width: auto;
  max-height: 50px;
  margin-left: 20px;
  margin-right: auto;
  display: block;
  float: none;
  padding: 10px 10px;
}

.image5 {
  width: auto;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  float: none;
  padding: 20px 20px;
}

.image6 {
  width: auto;
  max-height: 50px;
  margin-left: auto;
  margin-right: 20px;
  display: block;
  float: none;
  padding: 10px 10px;
}

.icon {
  width: auto;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  padding: 10px 10px;
}

/* TABLE SETTINGS */
.tabcenter {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
}

.tabmain {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  width: auto;
  padding: 50px;
}

.tabpain {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  width: 600px;
}

.tabsain {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  width: auto;
}

.tabgain {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  max-height: 100px;
  width: auto;
}

.tabmainborder {
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  width: auto;
  padding: 50px;
  border-style: outset;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightblue;
}

input[type=password], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password]:focus {
  border: 3px solid #555;
  background-color: lightblue;
}

td, th {
  border: 0px solid white;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(180, 180, 180);
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* BUTTON */
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: black;
  color: white;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #555555;
  color: white;
}

/* FOOTER */
.footer {
  background-color: black;
  color: white;
  text-align: left;
  font-size: x-small;
  font-family: Arial;
  padding: 10px 10px;
}

#imagefoot {
  width: 50px;
  height: 50px;
  float: right;
}

.newline {
  padding-top: 16px;
}
